/* Gradient color1 - color2 - color1 */
		
hr.hr1 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}

/* Gradient transparent - color - transparent */
		
hr.hr2 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* Double-color dashed line */
		
hr.hr3 {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

/* Single-direction drop shadow */
		
hr.hr4 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

/* Cloud */
		
hr.hr5 {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.hr5:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

/* Inset, by Dan Eden */
		
hr.hr6 {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Flaired edges, by Tomas Theunissen */
		
hr.hr7 {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.hr7:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;    
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/* Glyph, by Harry Roberts */
		
hr.hr8 {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.hr8:after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.hr9{
	position: relative;
	height: 4px;
	margin: 0;
	border: none;
	overflow: hidden;
	z-index: 1;
	background-image: -webkit-gradient(radial,50% 100%,0,50% 100%,116,color-stop(0%,rgba(0,0,0,.08)),color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-radial-gradient(center bottom,farthest-side,rgba(0,0,0,.08) 0%,rgba(255,255,255,0) 100%);
	background-image: -moz-radial-gradient(center bottom,farthest-side,rgba(0,0,0,.08) 0%,rgba(255,255,255,0) 100%);
	background-image: -ms-radial-gradient(center bottom,farthest-side,rgba(0,0,0,.08) 0%,rgba(255,255,255,0) 100%);
	background-image: -o-radial-gradient(center bottom,farthest-side,rgba(0,0,0,.08) 0%,rgba(255,255,255,0) 100%);
	background-image: radial-gradient(farthest-side at center bottom,rgba(0,0,0,.08) 0%,rgba(255,255,255,0) 100%);
}